.result{
    background-color: hsl(183, 100%, 15%);
    border-radius: 0.625rem;
    padding: 1.25rem;

    h2 {
        margin: 0;
        font-size: 12px;
        color: white;
        font-weight: 700;
    }

    p{
        margin-bottom: 2.8rem;
        margin-top: 0;
        font-size: 10px;
        color: #50898B;
    }

    button {
        padding: 0.625rem 1.25rem;
        background-color: #26C2AD;
        margin-top: 2.5rem;

        &:hover {
            background-color: #9FE8DF;
        }

        &:active {
            background-color: #26C2AD;
            transition: color 300ms ease-in-out;
        }
    }

    &__money {
        position: relative;
        margin: 0;
        float: right;
        font-size: 2rem;
        color: #22C1A9;
        top: -10px;
        bottom: 10px;
    }

    #btn-reset {
        width: 100%;
        font-family: 'Space Mono', monospace;
        font-size: 15px;
        font-weight: 600;
    }
}